<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>AniTrans Mitarbeiterportal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="../static/css/bulma.css" th:href="@{/css/bulma.css}" rel="stylesheet"/>
    <link href="../static/css/login_registrationForm.css" th:href="@{/css/login_registrationForm.css}"
          rel="stylesheet"/>

</head>
<body>
<ul class="cb-slideshow">
    <li><span>1. Bild</span></li>
    <li><span>2. Bild</span></li>
    <li><span>3. Bild</span></li>
    <li><span>4. Bild</span></li>
</ul>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third is-offset-one-third login-box">
                    <h1 class="title">Register</h1>
                    <form th:action="@{/address}" th:object="${address}" method="post">
                        <div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Name" th:field="*{name}"/>
                                </div>
                            </div>
                            <p th:each="error: ${#fields.errors('name')}" th:text="${error}">Validation error</p>
                        </div>
                        <br/>
                        <div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Surname" th:field="*{surname}"/>
                                </div>
                            </div>
                            <p th:each="error: ${#fields.errors('surname')}" th:text="${error}">Validation error</p>
                        </div>
                        <br/>
                        <div class="columns">
                            <div class="column is-two-thirds">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Street" th:field="*{street}"/>
                                    </div>
                                </div>
                                <p th:each="error: ${#fields.errors('street')}" th:text="${error}">Validation error</p>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="No" th:field="*{streetNumber}"/>
                                    </div>
                                </div>
                                <p th:each="error: ${#fields.errors('streetNumber')}" th:text="${error}">Validation
                                    error</p>
                            </div>
                        </div>
                        <br/>
                        <div class="columns">
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Zip" th:field="*{zip}"/>
                                    </div>
                                </div>
                                <p th:each="error: ${#fields.errors('zip')}" th:text="${error}">Validation error</p>
                            </div>
                            <div class="column is-two-thirds">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="City" th:field="*{city}"/>
                                    </div>
                                </div>
                                <p th:each="error: ${#fields.errors('city')}" th:text="${error}">Validation
                                    error</p>
                            </div>
                        </div>
                        <br/>
                        <div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Phone" th:field="*{phone}"/>
                                </div>
                            </div>
                            <p th:each="error: ${#fields.errors('phone')}" th:text="${error}">Validation error</p>
                        </div>
                        <br/>
                        <div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="E-Mail" th:field="*{email}"/>
                                </div>
                            </div>
                            <p th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>
                        </div>
                        <br/>
                        <div class="control">
                            <button class="button is-link is-pulled-right" type="submit">Continue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>