<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>AniTrans Mitarbeiterportal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="../static/css/bulma.css" th:href="@{/css/bulma.css}" rel="stylesheet"/>
    <link href="../static/css/login_registrationForm.css" th:href="@{/css/login_registrationForm.css}"
          rel="stylesheet"/>

</head>
<body>
<ul class="cb-slideshow">
    <li><span>1. Bild</span></li>
    <li><span>2. Bild</span></li>
    <li><span>3. Bild</span></li>
    <li><span>4. Bild</span></li>
</ul>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third is-offset-one-third login-box">
                    <h1 class="title">Register</h1>
                    <form th:action="@{/user/register}" th:object="${wrappedRegistration}" method="post">

                        <div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="Username" th:field="*{username}"/>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            <p th:each="error: ${#fields.errors('username')}" th:text="${error}">Validation error</p>
                        </div>
                        <br/>
                        <div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input" type="password" placeholder="Password" th:field="*{password}"/>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <p th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>
                        </div>
                        <br/>
                        <div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="Leave Empty if you've got none" th:field="*{regCode}"/>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-code"></i>
                                    </span>
                                </div>
                            </div>
                            <article class="message is-warning" th:if="${#fields.hasErrors('regCode')}">
                                <div class="message-body" th:errors="*{regCode}" />
                            </article>
                        </div>
                        <br/>
                        <div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Firstname" th:field="*{address.firstname}"/>
                                </div>
                            </div>
                            <p th:each="error: ${#fields.errors('address.firstname')}" th:text="${error}">Validation error</p>
                        </div>
                        <br/>
                        <div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Lastname" th:field="*{address.lastname}"/>
                                </div>
                            </div>
                            <p th:each="error: ${#fields.errors('address.lastname')}" th:text="${error}">Validation error</p>
                        </div>
                        <br/>
                        <div class="columns">
                            <div class="column is-two-thirds">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Street" th:field="*{address.street}"/>
                                    </div>
                                </div>
                                <p th:each="error: ${#fields.errors('address.street')}" th:text="${error}">Validation error</p>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Nr." th:field="*{address.streetNumber}"/>
                                    </div>
                                </div>
                                <p th:each="error: ${#fields.errors('address.streetNumber')}" th:text="${error}">Validation
                                    error</p>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Zip" th:field="*{address.zip}"/>
                                    </div>
                                </div>
                                <p th:each="error: ${#fields.errors('address.zip')}" th:text="${error}">Validation error</p>
                            </div>
                            <div class="column is-two-thirds">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="City" th:field="*{address.city}"/>
                                    </div>
                                </div>
                                <p th:each="error: ${#fields.errors('address.city')}" th:text="${error}">Validation
                                    error</p>
                            </div>
                        </div>

                        <!--Checking the patterns for phone and E-Mail in HTML because they might be null in some other cases.-->
                        <div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Phone" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" th:field="*{address.phone}"/>
                                </div>
                            </div>
                            <p th:each="error: ${#fields.errors('address.phone')}" th:text="${error}">Validation error</p>
                        </div>
                        <br/>
                        <div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="E-Mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" th:field="*{address.email}"/>
                                </div>
                            </div>
                            <p th:each="error: ${#fields.errors('address.email')}" th:text="${error}">Validation error</p>
                        </div>
                        <br/>
                        <div class="control">
                            <button class="button is-link is-pulled-right" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>