.tour-item {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.tour-item:hover {
    background-color: #D1EEEE;
}

.summary {
    cursor: pointer;
}

.selected {
    background-color: #D1EEEE;
}

.box .is-message {
    background-color: #BBD4D4;
    box-shadow: none;
    font-style: italic;
}

.success {
    font-weight: bold;
    color: #1ca64c;
}

.failure {
    font-weight: bold;
    color: darkred;
}

.content blockquote {
    background-color: #A4BABA;
    border-left: 5px solid #406E6E;
    padding: 1.25em 1.5em;
    color: #FFFFFF;
}

