<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/sliderCSS.css}"/>
    <script type="text/javascript" th:src="@{/js/sliderScript.js}"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>AniTrans Animal Overview</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css"/>
    <link href="../static/css/bulma.css" th:href="@{/css/bulma.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"/>
</head>
<body class="login-page page-layout">
<section class="hero is-link">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-one-quarter" style="margin-top: auto;">
                    <p class="title">
                        Anitrans
                    </p>
                    <p class="subtitle">
                        Logistics System
                    </p>
                </div>
                <div class="column is-half">
                    <div class="ism-slider " data-play_type="loop" id="my-slider">
                        <ol>
                            <li>
                                <img th:src="@{/images/goat.jpg}" height="531"
                                     width="945"/></li>
                            <li><img th:src="@{/images/cow.jpg}"/>
                            </li>
                            <li><img th:src="@{/images/panda.jpg}" height="479" width="640"/>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container is-fluid">
            <nav class="tabs is-boxed">
                <ul>
                    <li>
                        <a href="tours">Tour Overview</a>
                    </li>
                    <li>
                        <a href="deliveries">New Tour</a>
                    </li>
                    <li>
                        <a href="drivers">Drivers</a>
                    </li>
                    <li>
                        <a href="trucks">Trucks</a>
                    </li>
                    <li>
                        <a href="animals">Animals</a>
                    </li>
                </ul>
                <div class="is-right">
                    <form action="#" th:action="@{/logout}" method="post">
                        <input type="submit" class="button is-link" value="Log Out"/>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</section>
<div class="anitrans-content">
    <div class="columns">
        <div class="column is-one-third">
            <div class="notification is-danger" th:if="${errorMessage}">
                <strong th:text="${errorMessage}"/>
            </div>
            <h1 class="title">Add new animal</h1>
            <form method="POST" enctype="multipart/form-data" th:action="@{/addAnimal}">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Animal species</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" name="species" placeholder="Species"/>
                                <span class="icon is-small is-left">
                                <i class="fa fa-paw"></i>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Width</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" name="width" placeholder="centimeters"/>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-arrows-h"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Length</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" name="length" placeholder="centimeters"/>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-arrows-v"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Weight</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" name="weight" placeholder="kilograms"/>
                                <span class="icon is-small is-left">
                                    <i class="mdi mdi-weight-kilogram"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <br/>
                <div class="columns">
                    <div class="column is-half">
                        <div class="control">
                            <button class="button is-link" type="submit">Add Animal</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>