<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/sliderCSS.css}"/>
    <script type="text/javascript" th:src="@{/js/sliderScript.js}"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>AniTrans Tour Creation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="../static/css/bulma.css" th:href="@{/css/bulma.css}" rel="stylesheet"/>
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous"></script>
</head>

<body class="login-page page-layout">

<section class="hero is-link">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-one-quarter" style="margin-top: auto;">
                    <p class="title">
                        Anitrans
                    </p>
                    <p class="subtitle">
                        Logistics System
                    </p>
                </div>
                <div class="column is-half">
                    <div class="ism-slider " data-play_type="loop" id="my-slider">
                        <ol>
                            <li>
                                <img th:src="@{/images/goat.jpg}" height="531" width="945"/></li>
                            <li><img th:src="@{/images/cow.jpg}"/>
                            </li>
                            <li><img th:src="@{/images/panda.jpg}" height="479" width="640"/>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container is-fluid">
            <nav class="tabs is-boxed">
                <ul>
                    <li>
                        <a href="tours">Tour Overview</a>
                    </li>
                    <li class="is-active">
                        <a>New Tour</a>
                    </li>
                    <li>
                        <a href="drivers">Drivers</a>
                    </li>
                    <li>
                        <a href="trucks">Trucks</a>
                    </li>
                    <li>
                        <a href="animals">Animals</a>
                    </li>
                </ul>
                <div class="is-right">
                    <form action="#" th:action="@{/logout}" method="post">
                        <input type="submit" class="button is-link" value="Log Out"/>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</section>
<div class="block">

    <div class="block">
        <div class="box">

            <!--
            <div class="columns" th:if="${truckErrorMessage}">
                <div class="column">
                    <div class="notification is-danger">
                        <strong th:text="${truckErrorMessage}"/>
                    </div>
                </div>
            </div>
            -->
            <form method="POST" th:action="@{/deliveries}" th:object="${tour}">
                <div class="columns">
                    <!-- Column left -->
                    <div class="column">
                        <div class="columns">
                            <div class="column is-2">Species:</div>
                            <div class="column">
                                <span class="select is-fullwidth">
                                    <select th:field="*{cargo}">
                                        <option th:if="${not #lists.isEmpty(animals)}" th:each="animal : ${animals}"
                                                th:value="${animal.species}" th:text="${animal.species}"/>
                                    </select>
                                </span>
                                <article class="message is-warning" th:if="${#fields.hasErrors('cargo')}">
                                    <div class="message-body" th:errors="*{cargo}"/>
                                </article>
                                <p>
                                    Can't find the right animal? <a href="addAnimal">Create a new one!</a>
                                </p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2">Start:</div>
                            <div class="column">
                                <div class="field">
                                    <input class="input" type="text" placeholder="Firstname"
                                           th:field="*{startAddress.firstname}"/>
                                </div>
                                <article class="message is-warning"
                                         th:if="${#fields.hasErrors('startAddress.firstname')}">
                                    <div class="message-body" th:errors="*{startAddress.firstname}"/>
                                </article>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2"/>
                            <div class="column">
                                <div class="field">
                                    <input class="input" type="text" placeholder="Lastname"
                                           th:field="*{startAddress.lastname}"/>
                                </div>
                                <article class="message is-warning"
                                         th:if="${#fields.hasErrors('startAddress.lastname')}">
                                    <div class="message-body" th:errors="*{startAddress.lastname}"/>
                                </article>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2" />
                            <div class="column is-6">
                                <div class="field">
                                    <input class="input" id='SAS' type="text" placeholder="Street"
                                           th:field="*{startAddress.street}" onblur="updateMaps()"/>
                                </div>
                                <article class="message is-warning"
                                         th:if="${#fields.hasErrors('startAddress.street')}">
                                    <div class="message-body" th:errors="*{startAddress.street}"/>
                                </article>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <input class="input" id='SAN' type="text" placeholder="Nr."
                                           th:field="*{startAddress.streetNumber}" onblur="updateMaps()"/>
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('startAddress.streetNumber')}">
                                    <div class="message-body" th:errors="*{startAddress.streetNumber}" />
                                </article>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2" />
                            <div class="column is-4">
                                <div class="field">
                                    <input class="input" id='SAZ' type="text" placeholder="ZIP"
                                           th:field="*{startAddress.zip}" onblur="updateMaps()"/>
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('startAddress.zip')}">
                                    <div class="message-body" th:errors="*{startAddress.zip}" />
                                </article>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <input class="input" id='SAC' type="text" placeholder="City"
                                           th:field="*{startAddress.city}" onblur="updateMaps()"/>
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('startAddress.city')}">
                                    <div class="message-body" th:errors="*{startAddress.city}" />
                                </article>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2">Start date:</div>
                            <div class="column">
                                <div class="field">
                                    <input class="input" type="date" th:field="*{startDate}" />
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('startDate')}">
                                    <div class="message-body" th:errors="*{startDate}" />
                                </article>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2">Estimation:</div>
                            <div class="column">
                                <div class="field">
                                    <input class="input" type="text" placeholder="Estimated delivery time (hours)" th:field="*{estimatedTime}" />
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('estimatedTime')}">
                                    <div class="message-body" th:errors="*{estimatedTime}" />
                                </article>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2">Driver:</div>
                            <div class="column">
                                <span class="select is-fullwidth">
                                    <select th:field="*{driver}">
                                        <option th:if="${not #lists.isEmpty(drivers)}" th:each="driver : ${drivers}" th:value="${driver.username}" th:text="${driver.username}" />
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Column right -->
                    <div class="column">
                        <div class="columns">
                            <div class="column is-2">Amount:</div>
                            <div class="column">
                                <div class="field">
                                    <input class="input" type="text" placeholder="Amount" th:field="*{numberOfAnimals}" />
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('numberOfAnimals')}">
                                    <div class="message-body" th:errors="*{numberOfAnimals}" />
                                </article>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2">Destination:</div>
                            <div class="column">
                                <div class="field">
                                    <input class="input" type="text" placeholder="Firstname" th:field="*{destinationAddress.firstname}" />
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('destinationAddress.firstname')}">
                                    <div class="message-body" th:errors="*{destinationAddress.firstname}" />
                                </article>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2" />
                            <div class="column">
                                <div class="field">
                                    <input class="input" type="text" placeholder="Lastname" th:field="*{destinationAddress.lastname}" />
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('destinationAddress.lastname')}">
                                    <div class="message-body" th:errors="*{destinationAddress.lastname}" />
                                </article>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2" />
                            <div class="column is-6">
                                <div class="field">
                                    <input class="input" id='DAS' type="text" placeholder="Street"
                                           th:field="*{destinationAddress.street}" onblur="updateMaps()"/>
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('destinationAddress.street')}">
                                    <div class="message-body" th:errors="*{destinationAddress.street}" />
                                </article>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <input class="input" id='DAN' type="text" placeholder="Nr."
                                           th:field="*{destinationAddress.streetNumber}" onblur="updateMaps()"/>
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('destinationAddress.streetNumber')}">
                                    <div class="message-body" th:errors="*{destinationAddress.streetNumber}" />
                                </article>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2" />
                            <div class="column is-4">
                                <div class="field">
                                    <input class="input" id='DAZ' type="text" placeholder="ZIP"
                                           th:field="*{destinationAddress.zip}" onblur="updateMaps()"/>
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('destinationAddress.zip')}">
                                    <div class="message-body" th:errors="*{destinationAddress.zip}" />
                                </article>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <input class="input" id='DAC' type="text" placeholder="City"
                                           th:field="*{destinationAddress.city}" onblur="updateMaps()"/>
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('destinationAddress.city')}">
                                    <div class="message-body" th:errors="*{destinationAddress.city}" />
                                </article>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2">Start time:</div>
                            <div class="column">
                                <div class="field">
                                    <input class="input" type="time" th:field="*{startTime}" />
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('startTime')}">
                                    <div class="message-body" th:errors="*{startTime}" />
                                </article>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2">Time frame:</div>
                            <div class="column">
                                <div class="field">
                                    <input class="input" type="text" placeholder="Time frame for delivery" th:field="*{timeFrame}" />
                                </div>
                                <article class="message is-warning" th:if="${#fields.hasErrors('timeFrame')}">
                                    <div class="message-body" th:errors="*{timeFrame}" />
                                </article>
                            </div>
                        </div>

                        <!--

                        <div class="columns">
                            <div class="column is-2">Truck:</div>
                            <div class="column">
                                <span class="select is-fullwidth">
                                    <select th:name="truckType">
                                        <div th:if="${not #lists.isEmpty(truckTypes)}" th:each="type : ${truckTypes}">
                                            <option type="text" th:value="${type.key}" th:text="${type.key} + ' (' + ${type.value} + ')'" />
                                        </div>
                                    </select>
                                </span>
                            </div>
                            <article class="message is-warning" th:if="${#fields.hasErrors('truck')}">
                                    <div class="message-body" th:errors="*{truck}" />
                            </article>
                        </div>

                        -->

                    </div>
                </div>
                <div class="columns">
                    <div class="column is-1"></div>
                    <div class="column">
                        <p class="control">
                            <textarea class="textarea" placeholder="Comment" th:field="*{comment}" />
                        </p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-2 is-offset-10">
                        <button type="submit" class="button is-info is-pulled-right is-fullwidth">Save</button>
                    </div>
                </div>
            </form>
            <iframe id="mapsFrame" class="map-top" width="100%" height="450"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAfswMMILTpyhxnZfWOhTNOgClKSuag9Cs&#10;    &amp;q=Sidlerstrasse+5,Bern+Schweiz"
                    allowfullscreen=""></iframe>
        </div>
    </div>
</div>

<script>
    //<![CDATA[/
    /]]>/
    updateMaps();
    alert('upadeMapsRun');

    function updateMaps() {
        var SACity = document.getElementById('SAC').value;
        var SAZip = document.getElementById('SAZ').value;
        var SAStreet = document.getElementById('SAS').value;
        var SASNumber = document.getElementById('SAN').value;

        var DACity = document.getElementById('DAC').value;
        var DAZip = document.getElementById('DAZ').value;
        var DAStreet = document.getElementById('DAS').value;
        var DASNumber = document.getElementById('DAN').value;

        replaceMaps(SACity, SAZip, SAStreet, SASNumber, DACity, DAZip, DAStreet, DASNumber);
    }

    function replaceMaps(SACity, SAZip, SAStreet, SASNumber, DACity, DAZip, DAStreet, DASNumber) {
        if (!(isEmpty(SACity) || isEmpty(SAZip) || isEmpty(SAStreet) || isEmpty(SASNumber) || isEmpty(DACity) || isEmpty(DAZip) || isEmpty(DAStreet) || isEmpty(DASNumber))) {
            var mapsNavRequestLink = 'https://www.google.com/maps/embed/v1/directions?key=AIzaSyAfswMMILTpyhxnZfWOhTNOgClKSuag9Cs&#10;    &amp;origin=+Sidlerstrasse+5+Bern+Schweiz&amp;destination=' + DAStreet + '+' + DASNumber + '+' + DAZip + '+' + DACity + '&amp;waypoints=' + SAStreet + '+' + SASNumber + '+' + SAZip + '+' + SACity + '';
            $('#mapsFrame').replaceWith('<iframe id="mapsFrame" class="map-top" width="100%" height="450" src="' + mapsNavRequestLink + '" allowfullscreen=""> </iframe>');
        }
    }

    function isEmpty(str) {
        return (!str || !str.length);
    }
</script>
</body>
</html>