<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="Source/src/main/resources/static/css/bulma.css"/>
    <link rel="stylesheet" th:href="@{/css/sliderCSS.css}"/>
    <script type="text/javascript" th:src="@{/js/sliderScript.js}"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>AniTrans Driver Overview</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="../static/css/bulma.css" th:href="@{/css/bulma.css}" rel="stylesheet"/>
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous"></script>
</head>
<body class="login-page page-layout">
<section class="hero is-link">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-one-quarter" style="margin-top: auto;">
                    <p class="title">
                        Anitrans
                    </p>
                    <p class="subtitle">
                        Logistics System
                    </p>
                </div>
                <div class="column is-half">
                    <div class="ism-slider " data-play_type="loop" id="my-slider">
                        <ol>
                            <li>
                                <img th:src="@{/images/goat.jpg}" height="531"
                                     width="945"/></li>
                            <li><img th:src="@{/images/cow.jpg}"/>
                            </li>
                            <li><img th:src="@{/images/panda.jpg}" height="479" width="640"/>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container is-fluid">
            <nav class="tabs is-boxed">
                <ul>
                    <li>
                        <a href="tours">Tour Overview</a>
                    </li>
                    <li>
                        <a href="deliveries">New Tour</a>
                    </li>
                    <li class="is-active">
                        <a>Drivers</a>
                    </li>
                    <li>
                        <a href="trucks">Trucks</a>
                    </li>
                    <li>
                        <a href="animals">Animals</a>
                    </li>
                </ul>
                <div class="is-right">
                    <form action="#" th:action="@{/logout}" method="post">
                        <input type="submit" class="button is-link" value="Log Out"/>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</section>

<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Username</th>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Street</th>
        <th>No°</th>
        <th>ZIP</th>
        <th>City</th>
        <th>E-Mail</th>
        <th>Phone</th>
        <th>Hiring Date</th>
        <th/>
        <th/>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${not #lists.isEmpty(drivers)}" th:each="driver : ${drivers}">
        <td class="limited-width-8"><p th:text="${driver.username}" th:title="${driver.username}"></p></td>
        <td class="limited-width-8"><p th:text="${driver.address.getLastname()}" th:title="${driver.address.getLastname()}"></p></td>
        <td class="limited-width-8"><p th:text="${driver.address.getFirstname()}" th:title="${driver.address.getFirstname()}"></p></td>
        <td class="limited-width-8"><p th:text="${driver.address.getStreet()}" th:title="${driver.address.getStreet()}"></p></td>
        <td class="limited-width-8"><p th:text="${driver.address.getStreetNumber()}" th:title="${driver.address.getStreetNumber()}"></p></td>
        <td class="limited-width-8"><p th:text="${driver.address.getZip()}" th:title="${driver.address.getZip()}"></p></td>
        <td class="limited-width-8"><p th:text="${driver.address.getCity()}" th:title="${driver.address.getCity()}"></p></td>
        <td class="limited-width-8"><p th:text="${driver.address.getEmail()}" th:title="${driver.address.getEmail()}"></p></td>
        <td class="limited-width-8"><p th:text="${driver.address.getPhone()}" th:title="${driver.address.getPhone()}"></p></td>
        <td class="limited-width-8"><p th:text="${driver.getHiringDateString()}" th:title="${driver.getHiringDateString()}"></p></td>
        <td class="limited-width-8"><a th:href="'drivers/promote?username='+${driver.username}" class="button is-info"><i
                class="fa fa-arrow-circle-o-up"></i>&nbsp;Promote to Admin</a></td>
        <td class="limited-width"><a th:href="'drivers/delete?username=' + ${driver.username}" onclick="return confirm('Are you sure?')" class="button is-danger"><i
                class="fa fa-fire"></i>&nbsp;Fire</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>