<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/sliderCSS.css}"/>
    <script type="text/javascript" th:src="@{/js/sliderScript.js}"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>AniTrans Tour Overview</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="../../static/css/bulma.css" th:href="@{/css/bulma.css}" rel="stylesheet"/>
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous"></script>

</head>
<body class="login-page page-layout">
<section class="hero is-link">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-one-quarter" style="margin-top: auto;">
                    <p class="title">
                        Anitrans
                    </p>
                    <p class="subtitle">
                        Logistics System
                    </p>
                </div>
                <div class="column is-half">
                    <div class="ism-slider " data-play_type="loop" id="my-slider">
                        <ol>
                            <li>
                                <img th:src="@{/images/goat.jpg}" height="531"
                                     width="945"/></li>
                            <li><img th:src="@{/images/cow.jpg}"/>
                            </li>
                            <li><img th:src="@{/images/panda.jpg}" height="479" width="640"/>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container is-fluid">
            <nav class="tabs is-boxed">
                <ul>
                    <li class="is-active">
                        <a>Tour Overview</a>
                    </li>
                    <li>
                        <a href="deliveries">New Tour</a>
                    </li>
                    <li>
                        <a href="drivers">Drivers</a>
                    </li>
                    <li>
                        <a href="trucks">Trucks</a>
                    </li>
                    <li>
                        <a href="animals">Animals</a>
                    </li>
                </ul>
                <div class="is-right">
                    <form action="#" th:action="@{/logout}" method="post">
                        <input type="submit" class="button is-link" value="Log Out"/>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</section>

<div class="block">

    <div class="columns is-gapless">
        <div class="column is-one-third scrollable">
            <div class="content">
                <div class="column">
                    <div class="columns">
                        <div class="column ">
                            Sort by:
                        </div>
                        <div class="column is-half">
                            <div class="select">
                                <select onChange="paramChangerSetter('sortBy', this.value)">
                                    <option th:selected="${sortBy == 'Date/Time'}">Date/Time</option>
                                    <option th:selected="${sortBy == 'Starting Location'}">Starting Location</option>
                                    <option th:selected="${sortBy == 'Target Location'}">Target Location</option>
                                    <option th:selected="${sortBy == 'Driver'}">Driver</option>
                                    <option th:selected="${sortBy == 'Cargo'}">Cargo</option>
                                    <option th:selected="${sortBy == 'State'}">State</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

                <div th:if="${#lists.isEmpty(tours)}">
                    <div class="notification is-warning ">
                        <div class="columns is-desktop is-vcentered">
                            <div class="column is-narrow">
                                <span class="icon"><i class="fa fa-frown-o fa-3x"></i>&nbsp;</span>
                            </div>
                            <div class="column "><p>No tours available. <a href="/deliveries">Create a new tour.</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${not #lists.isEmpty(tours)}" th:each="tour : ${tours}">
                    <div th:with="result=${tour.id}">
                        <div class="notification"
                             th:classappend="${tour.id == activeTour.id} ? is-info : (${tour.isSuccessful()} ? is-success : (${tour.isIncomplete()} ? is-warning : (${tour.isFailed()} ? is-danger)))">
                            <div class="modal">
                                <div class="modal-background"></div>
                                <div class="modal-content">
                                    <div class="box is-centered">
                                        <h2 class="subtitle is-2">Confirm Deletion</h2>
                                        <div class="buttons is-centered">
                                            <a th:href="'tours/delete?index=' + ${result}"
                                               class="button is-danger">
                                                DELETE
                                            </a>
                                            <button id="modal-close" class="button">CANCEL</button>
                                        </div>
                                    </div>
                                </div>
                                <button class="modal-close"></button>
                            </div>

                            <a th:if="${tour.inProcess() == false}" id="showModal" class="button delete"/>
                            <a th:unless="${tour.inProcess() == false}" class="button delete" disabled="disabled"/>

                            <a th:attr="onClick='paramChangerSetter(\'activeIndex\', ' + ${result} + ')'">
                                <div class="columns is-gapless">
                                    <div class="column is-half">
                                        <div class="columns is-gapless">
                                            <div class="column is-narrow">
                                                <span class="icon"><i class="fa fa-calendar"></i>&nbsp;</span>
                                            </div>
                                            <div class="column "><u
                                                    th:text="${#temporals.format(tour.startDate, 'dd.MM.yyyy')}"></u>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="columns is-gapless">
                                            <div class="column is-narrow">
                                                <span class="icon"><i class="fa fa-clock-o"></i>&nbsp;</span>
                                            </div>
                                            <div class="column"><u th:text="${tour.estimatedTime}"></u></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="columns is-gapless">
                                    <div class="column is-half">
                                        <div class="columns is-gapless">
                                            <div class="column is-narrow">
                                                <span class="icon"><i class="fa fa-map-pin"></i>&nbsp;</span>
                                            </div>
                                            <div class="column"><u th:text="${tour.startAddress.city}"></u></div>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="columns is-gapless">
                                            <div class="column is-narrow">
                                                <span class="icon"><i class="fa fa-flag-checkered"></i>&nbsp;</span>
                                            </div>
                                            <div class="column"><u th:text="${tour.destinationAddress.city}"></u></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="columns is-gapless">
                                    <div class="column is-half">
                                        <div class="columns is-gapless">
                                            <div class="column is-narrow">
                                                <span class="icon"><i class="fa fa-user"></i>&nbsp;</span>
                                            </div>
                                            <div class="column"><u th:text="${tour.driver}"></u></div>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="columns is-gapless">
                                            <div class="column is-narrow">
                                                Cargo:&nbsp;
                                            </div>
                                            <div class="column"><u th:text="${tour.cargo}"></u></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${not #lists.isEmpty(tours)}" class="column">
            <div class="block">
                <div class="box" th:unless="${activeTour.canBeChanged()}" th:object="${activeTour}">
                    <div class="columns">
                        <div class="column">
                            <div class="notification is-danger">
                                <strong th:if="${activeTour.inProcess()}">This tour has already started, you cannot
                                    change it! Reload the page if you just tried to change the date/time to the
                                    past.</strong>
                                <strong th:if="${activeTour.isSuccessful()}">This tour was successfully completed and
                                    can't be changed.</strong>
                                <strong th:if="${activeTour.isFailed()}">This tour has failed and can't be
                                    changed.</strong>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <!-- Column left -->
                        <div class="column">
                            <div class="columns">
                                <div class="column is-4">Cargo:</div>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{cargo}" disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning" th:if="${#fields.hasErrors('cargo')}">
                                        <div class="message-body" th:errors="*{cargo}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4">Start:</div>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{startAddress.lastname}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning"
                                             th:if="${#fields.hasErrors('startAddress.lastname')}">
                                        <div class="message-body" th:errors="*{startAddress.lastname}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4"/>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{startAddress.firstname}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning"
                                             th:if="${#fields.hasErrors('startAddress.firstname')}">
                                        <div class="message-body" th:errors="*{startAddress.firstname}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4"/>
                                <div class="column is-6">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{startAddress.street}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning"
                                             th:if="${#fields.hasErrors('startAddress.street')}">
                                        <div class="message-body" th:errors="*{startAddress.street}"/>
                                    </article>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{startAddress.streetNumber}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning"
                                             th:if="${#fields.hasErrors('startAddress.streetNumber')}">
                                        <div class="message-body" th:errors="*{startAddress.streetNumber}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4"/>
                                <div class="column is-4">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{startAddress.zip}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning"
                                             th:if="${#fields.hasErrors('startAddress.zip')}">
                                        <div class="message-body" th:errors="*{startAddress.zip}"/>
                                    </article>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{startAddress.city}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning"
                                             th:if="${#fields.hasErrors('startAddress.city')}">
                                        <div class="message-body" th:errors="*{startAddress.city}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4">Date:</div>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="date"
                                               th:value="${#temporals.format(activeTour.startDate, 'uuuu-MM-dd')}"
                                               th:field="*{startDate}" disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning" th:if="${#fields.hasErrors('startDate')}">
                                        <div class="message-body" th:errors="*{startDate}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4">Estimated Time:</div>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{estimatedTime}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning" th:if="${#fields.hasErrors('estimatedTime')}">
                                        <div class="message-body" th:errors="*{estimatedTime}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4">Driver:</div>
                                <div class="column">
                                    <div class="select">
                                        <select th:field="*{driver}" disabled="disabled">
                                            <option th:if="${not #lists.isEmpty(drivers)}" th:each="driver : ${drivers}"
                                                    th:value="${driver.username}" th:text="${driver.username}"/>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Column right -->
                        <div class="column">
                            <div class="columns">
                                <div class="column is-4">Number:</div>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{numberOfAnimals}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning" th:if="${#fields.hasErrors('numberOfAnimals')}">
                                        <div class="message-body" th:errors="*{numberOfAnimals}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4">Destination:</div>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{destinationAddress.lastname}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning"
                                             th:if="${#fields.hasErrors('destinationAddress.lastname')}">
                                        <div class="message-body" th:errors="*{destinationAddress.lastname}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4"/>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{destinationAddress.firstname}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning"
                                             th:if="${#fields.hasErrors('destinationAddress.firstname')}">
                                        <div class="message-body" th:errors="*{destinationAddress.firstname}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4"/>
                                <div class="column is-6">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{destinationAddress.street}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning"
                                             th:if="${#fields.hasErrors('destinationAddress.street')}">
                                        <div class="message-body" th:errors="*{destinationAddress.street}"/>
                                    </article>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{destinationAddress.streetNumber}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning"
                                             th:if="${#fields.hasErrors('destinationAddress.streetNumber')}">
                                        <div class="message-body" th:errors="*{destinationAddress.streetNumber}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4"/>
                                <div class="column is-4">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{destinationAddress.zip}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning"
                                             th:if="${#fields.hasErrors('destinationAddress.zip')}">
                                        <div class="message-body" th:errors="*{destinationAddress.zip}"/>
                                    </article>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{destinationAddress.city}"
                                               disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning"
                                             th:if="${#fields.hasErrors('destinationAddress.city')}">
                                        <div class="message-body" th:errors="*{destinationAddress.city}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4">Time:</div>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="time"
                                               th:value="${#temporals.format(activeTour.startTime, 'HH:mm')}"
                                               th:field="*{startTime}" disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning" th:if="${#fields.hasErrors('startTime')}">
                                        <div class="message-body" th:errors="*{startTime}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4">Time Frame:</div>
                                <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" th:field="*{timeFrame}" disabled="disabled"/>
                                    </div>
                                    <article class="message is-warning" th:if="${#fields.hasErrors('timeFrame')}">
                                        <div class="message-body" th:errors="*{timeFrame}"/>
                                    </article>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-4">Truck:</div>
                                <div class="column">
                                    <div class="select">
                                        <select th:name="truckType" disabled="disabled">
                                            <div th:if="${not #lists.isEmpty(truckTypes)}" th:each="type : ${truckTypes}">
                                                <option th:selected="${type.key} == ${activeTour.truck.truckType}" th:value="${type.key}" th:text="${type.key} + ' (' + ${type.value} + ')'" />
                                            </div>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-2">Comment:</div>
                        <div class="column">
                            <p class="control">
                                    <textarea class="textarea" type="text" th:value="*{comment}"
                                              th:field="*{comment}" disabled="disabled"></textarea>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box" th:if="${activeTour.canBeChanged()}">
                    <div class="columns" th:if="${truckErrorMessage}">
                        <div class="column">
                            <div class="notification is-danger">
                                <strong th:text="${truckErrorMessage}"/>
                            </div>
                        </div>
                    </div>
                    <form action="#" th:action="@{/tours/update}" th:object="${activeTour}" method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{estimatedTime}"/>
                        <input type="hidden" th:field="*{timeFrame}"/>
                        <div class="columns">
                            <!-- Column left -->
                            <div class="column">
                                <div class="columns">
                                    <div class="column is-4">Cargo:</div>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" th:field="*{cargo}"/>
                                        </div>
                                        <article class="message is-warning" th:if="${#fields.hasErrors('cargo')}">
                                            <div class="message-body" th:errors="*{cargo}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4">Start:</div>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" th:field="*{startAddress.lastname}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('startAddress.lastname')}">
                                            <div class="message-body" th:errors="*{startAddress.lastname}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4"/>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" th:field="*{startAddress.firstname}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('startAddress.firstname')}">
                                            <div class="message-body" th:errors="*{startAddress.firstname}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4"/>
                                    <div class="column is-6">
                                        <div class="field">
                                            <input class="input" type="text" id="SAS" onblur="generateMapsLink()"
                                                   th:field="*{startAddress.street}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('startAddress.street')}">
                                            <div class="message-body" th:errors="*{startAddress.street}"/>
                                        </article>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="SAN" onblur="generateMapsLink()"
                                                   th:field="*{startAddress.streetNumber}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('startAddress.streetNumber')}">
                                            <div class="message-body" th:errors="*{startAddress.streetNumber}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4"/>
                                    <div class="column is-4">
                                        <div class="field">
                                            <input class="input" type="text" id="SAZ" onblur="generateMapsLink()"
                                                   th:field="*{startAddress.zip}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('startAddress.zip')}">
                                            <div class="message-body" th:errors="*{startAddress.zip}"/>
                                        </article>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="SAC" onblur="generateMapsLink()"
                                                   th:field="*{startAddress.city}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('startAddress.city')}">
                                            <div class="message-body" th:errors="*{startAddress.city}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4">Date:</div>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="date"
                                                   th:value="${#temporals.format(activeTour.startDate, 'uuuu-MM-dd')}"
                                                   th:field="*{startDate}"/>
                                        </div>
                                        <article class="message is-warning" th:if="${#fields.hasErrors('startDate')}">
                                            <div class="message-body" th:errors="*{startDate}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4">Estimated Time:</div>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" th:field="*{estimatedTime}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('estimatedTime')}">
                                            <div class="message-body" th:errors="*{estimatedTime}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4">Driver:</div>
                                    <div class="column">
                                        <div class="select">
                                            <select th:field="*{driver}">
                                                <option th:if="${not #lists.isEmpty(drivers)}"
                                                        th:each="driver : ${drivers}" th:value="${driver.username}"
                                                        th:text="${driver.username}"/>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Column right -->
                            <div class="column">
                                <div class="columns">
                                    <div class="column is-4">Number:</div>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" th:field="*{numberOfAnimals}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('numberOfAnimals')}">
                                            <div class="message-body" th:errors="*{numberOfAnimals}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4">Destination:</div>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" th:field="*{destinationAddress.lastname}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('destinationAddress.lastname')}">
                                            <div class="message-body" th:errors="*{destinationAddress.lastname}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4"/>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="text"
                                                   th:field="*{destinationAddress.firstname}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('destinationAddress.firstname')}">
                                            <div class="message-body" th:errors="*{destinationAddress.firstname}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4"/>
                                    <div class="column is-6">
                                        <div class="field">
                                            <input class="input" type="text" id="DAS" onblur="generateMapsLink()"
                                                   th:field="*{destinationAddress.street}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('destinationAddress.street')}">
                                            <div class="message-body" th:errors="*{destinationAddress.street}"/>
                                        </article>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="DAN" onblur="generateMapsLink()"
                                                   th:field="*{destinationAddress.streetNumber}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('destinationAddress.streetNumber')}">
                                            <div class="message-body" th:errors="*{destinationAddress.streetNumber}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4"/>
                                    <div class="column is-4">
                                        <div class="field">
                                            <input class="input" type="text" id="DAZ" onblur="generateMapsLink()"
                                                   th:field="*{destinationAddress.zip}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('destinationAddress.zip')}">
                                            <div class="message-body" th:errors="*{destinationAddress.zip}"/>
                                        </article>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="DAC" onblur="generateMapsLink()"
                                                   th:field="*{destinationAddress.city}"/>
                                        </div>
                                        <article class="message is-warning"
                                                 th:if="${#fields.hasErrors('destinationAddress.city')}">
                                            <div class="message-body" th:errors="*{destinationAddress.city}"/>
                                        </article>
                                    </div>
                                </div>

                                <div class="columns">
                                    <div class="column is-4">Time:</div>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="time"
                                                   th:value="${#temporals.format(activeTour.startTime, 'HH:mm')}"
                                                   th:field="*{startTime}"/>
                                        </div>
                                        <article class="message is-warning" th:if="${#fields.hasErrors('startTime')}">
                                            <div class="message-body" th:errors="*{startTime}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4">Time Frame:</div>
                                    <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" th:field="*{timeFrame}"/>
                                        </div>
                                        <article class="message is-warning" th:if="${#fields.hasErrors('timeFrame')}">
                                            <div class="message-body" th:errors="*{timeFrame}"/>
                                        </article>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4">Truck:</div>
                                    <div class="column">
                                        <div class="select">
                                            <select th:name="truckType">
                                                <div th:if="${not #lists.isEmpty(truckTypes)}" th:each="type : ${truckTypes}">
                                                    <option th:selected="${type.key} == ${activeTour.truck.truckType}" th:value="${type.key}" th:text="${type.key} + ' (' + ${type.value} + ')'" />
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2">Comment:</div>
                            <div class="column">
                                <p class="control">
                                    <textarea class="textarea" type="text" th:value="*{comment}"
                                              th:field="*{comment}"></textarea>
                                </p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2 is-offset-10">
                                <button type="submit" class="button is-info is-pulled-right">Save</button>
                            </div>
                        </div>
                    </form>
                    <iframe id="mapsFrame" class="map-top" width="100%" height="450"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAfswMMILTpyhxnZfWOhTNOgClKSuag9Cs&#10;    &amp;q=Sidlerstrasse+5,Bern+Schweiz" allowfullscreen=""></iframe>
                            <!--src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAfswMMILTpyhxnZfWOhTNOgClKSuag9Cs&#10;    &amp;origin=Oslo+Norway&amp;destination=Telemark+Norway&amp;avoid=tolls|highways"-->

                </div>
            </div>
        </div>
    </div>

</div>
<script>
    /*<![CDATA[/

    /]]>*/
    generateMapsLink();

    function generateMapsLink() {
        var SACity = document.getElementById('SAC').value;
        var SAZip = document.getElementById('SAZ').value;
        var SAStreet = document.getElementById('SAS').value;
        var SASNumber = document.getElementById('SAN').value;

        var DACity = document.getElementById('DAC').value;
        var DAZip = document.getElementById('DAZ').value;
        var DAStreet = document.getElementById('DAS').value;
        var DASNumber = document.getElementById('DAN').value;

        if (!SACity.match(/\S/) || !SAZip.match(/\S/) || !SAStreet.match(/\S/) || !SASNumber.match(/\S/) || !DACity.match(/\S/) || !DAZip.match(/\S/) || !DAStreet.match(/\S/) || !DASNumber.match(/\S/)) {
            var mapsNavRequestLink = 'https://www.google.com/maps/embed/v1/directions?key=AIzaSyAfswMMILTpyhxnZfWOhTNOgClKSuag9Cs&#10;    &amp;origin=+Bibliothek+Exakte+Wissenschaften&amp;destination=' + DAStreet + '+' + DASNumber + '+' + DAZip + '+' + DACity + '&amp;waypoints=' + SAStreet + '+' + SASNumber + '+' + SAZip + '+' + SACity + '';
            $('#mapsFrame').replaceWith('<iframe id="mapsFrame" class="map-top" width="100%" height="450" src=' + mapsNavRequestLink + ' allowfullscreen=""> </iframe>');
        }
    }


    /*
     $(document).ready(function () {
     $(".delete").click(function () {
     $(this).parent(".notification").hide(300);
     });
     });
     */

    function paramChangerSetter(paramName, newValueForParam) {
        var newHref = window.location.href;
        var regularExpression = new RegExp(paramName + "=[a-zA-Z1-9/ (%20)]*", "g");

        if (regularExpression.test(newHref)) {							//update param
            newHref = newHref.replace(regularExpression, paramName + "=" + newValueForParam);
        } else {														//set param
            if (newHref.indexOf("?") == -1) {
                newHref = newHref + "?" + paramName + "=" + newValueForParam;
            } else {
                //NOTE: The comments below are important for the Html-parser. Don't remove them
                newHref = newHref + /*<![CDATA[*/"&"/*]]>*/ + paramName + "=" + newValueForParam;
            }

        }
        window.location.href = newHref + "";
    }

    //delete modal trigger
    $(document).ready(function () {

        $("#showModal").click(function () {
            $(".modal").addClass("is-active");
        });

        $(".modal-close, #modal-close").click(function () {
            $(".modal").removeClass("is-active");
        });

    });
</script>
</body>
</html>