<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My past tours</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="../../static/css/bulma.css" th:href="@{/css/bulma.css}" rel="stylesheet"/>
    <link href="../static/css/additionalFrontendStyles.css" th:href="@{/css/additionalFrontendStyles.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}" />
</head>
<body class="login-page page-layout">
<section class="hero is-link is-small">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-gapless">
                <div class="column">
                    <p class="title">
                        AniTrans
                    </p>
                    <p class="subtitle">
                        Your tour overview
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container">
            <nav class="tabs is-boxed">
                <ul>
                    <li>
                        <a href="/today">Today</a>
                    </li>
                    <li>
                        <a href="/week">This week</a>
                    </li>
                    <li>
                        <a href="/upcoming">Upcoming tours</a>
                    </li>
                    <li class="is-active">
                    <a>Past tours</a>
                    </li>
                </ul>
                <div class="is-right">
                    <form action="#" th:action="@{/logout}" method="post">
                        <input type="submit" class="button is-link" value="Log Out" />
                    </form>
                </div>
            </nav>
        </div>
    </div>
</section>
<div class="block">
    <div class="box">
        <div class="content">
            <div class="columns is-mobile">
                <div class="column">
                    <strong>Sort by: </strong><br />
                    <div class="select">
                        <select onChange="paramChangerSetter('sortBy', this.value)">
                            <option th:selected="${sortBy == 'Date/Time'}">Date/Time</option>
                            <option th:selected="${sortBy == 'Starting Location'}">Starting Canton</option>
                            <option th:selected="${sortBy == 'Target Location'}">Target Canton</option>
                            <option th:selected="${sortBy == 'Cargo'}">Cargo</option>
                        </select>
                    </div>
                </div>
            </div>
                <hr />
                <div th:if="${not #lists.isEmpty(pastTours)}" th:each="tour : ${pastTours}">
                    <div class="tour-container" th:field="${tour}">
                        <div class="tour-item">
                            <div class="columns is-mobile summary">
                                <div class="column">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="columns is-mobile">
                                                <div class="column">
                                                    <div class="columns is-mobile">
                                                        <div class="column">
                                                            <strong>Date: </strong><br/>
                                                            <span th:text="${tour.startDate}"/>
                                                        </div>
                                                        <div class="column">
                                                            <strong>Species: </strong><br/>
                                                            <span th:text="${tour.cargo}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="columns is-mobile">
                                                <div class="column">
                                                    <strong>From: </strong><br/>
                                                    <span th:text="${tour.startAddress.street}"/>
                                                    <span th:text="${tour.startAddress.streetNumber}" /><span>,</span><br/>
                                                    <span th:text="${tour.startAddress.zip}"/>
                                                    <span th:text="${tour.startAddress.city}"/>
                                                </div>
                                                <div class="column">
                                                    <strong>To: </strong><br/>
                                                    <span th:text="${tour.destinationAddress.street}"/>
                                                    <span th:text="${tour.destinationAddress.streetNumber}"/><span>,</span><br/>
                                                    <span th:text="${tour.destinationAddress.zip}"/>
                                                    <span th:text="${tour.destinationAddress.city}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-2">
                                    <span class="icon is-medium is-pulled-right">
                                        <i class="fa fa-lg fa-chevron-down"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="columns">
                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                <strong>Time: </strong><br/>
                                                <span th:text="${tour.startTime}"/>
                                            </div>
                                            <div class="column">
                                                <strong>Amount: </strong><br/>
                                                <span th:text="${tour.numberOfAnimals}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                <strong>Truck Type: </strong><br/>
                                                <span th:text="${tour.truck.truckType}" />
                                            </div>
                                            <div class="column">
                                                <strong>Contact Person: </strong><br/>
                                                <span th:text="${tour.destinationAddress.firstname}" />
                                                <span th:text="${tour.destinationAddress.lastname}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-2" />
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                <strong>Estimated Time: </strong><br/>
                                                <span th:text="${tour.estimatedTime}"/><span>h</span>
                                            </div>
                                            <div class="column">
                                                <strong>Time Frame: </strong><br/>
                                                <span th:text="${tour.timeFrame}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                <strong>Tour State: </strong><br/>
                                                <span th:classappend="${(tour.isSuccessful() ? 'success' : '') + (tour.isFailed() ? 'failure' : '')}" th:text="${tour.state}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-2" />
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column">
                                        <strong>Comment: </strong><br/>
                                        <div class="box is-message" th:text="${tour.comment}"/>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column">
                                        <strong>Feedback: </strong>
                                        <div class="box is-message">
                                            <span th:text="${tour.tourFeedback}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    </div>
                </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {

        $(".panel").hide();
        $(".summary").click(function () {
            $(this).parent(".tour-item").toggleClass("selected");
            $(this).parent(".tour-item").find(".panel").slideToggle("slow");
        });
    });

    function paramChangerSetter(paramName, newValueForParam) {
        var newHref = window.location.href;
        var regularExpression = new RegExp(paramName + "=[a-zA-Z1-9/ (%20)]*", "g");

        if (regularExpression.test(newHref)) {							//update param
            newHref = newHref.replace(regularExpression, paramName + "=" + newValueForParam);
        } else {														//set param
            if (newHref.indexOf("?") == -1) {
                newHref = newHref + "?" + paramName + "=" + newValueForParam;
            } else {
                //NOTE: The comments below are important for the Html-parser. Don't remove them
                newHref = newHref + /*<![CDATA[*/"&"/*]]>*/ + paramName + "=" + newValueForParam;
            }

        }
        window.location.href = newHref + "";
    }
</script>
</body>

</html>