<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AniTrans Tour Overview</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="../../static/css/bulma.css" th:href="@{/css/bulma.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}" />
    <style>
        .tour-item {
            cursor: pointer;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 4px;
        }

        .tour-item:hover {
            background-color: #D1EEEE;
        }

        .selected {
            background-color: #D1EEEE;
        }

        .content blockquote {
            background-color: #A4BABA;
            border-left: 5px solid #406E6E;
            padding: 1.25em 1.5em;
            color: #FFFFFF;
        }
    </style>
</head>

<body class="login-page page-layout">
<section class="hero is-link is-small">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-gapless">
                <div class="column">
                    <p class="title">
                        AniTrans
                    </p>
                    <p class="subtitle">
                        Your tour overview
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container">
            <nav class="tabs is-boxed">
                <ul>
                    <li>
                        <a href="/today">Today</a>
                    </li>
                    <li class="is-active">
                        <a href="">This week</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="">Past tours</a>-->
                    <!--</li>-->
                </ul>
            </nav>
        </div>
    </div>
</section>
<div class="block">
    <div class="box">
        <div class="content">
            <div class="weekday-container">
                <h2 class="weekday">Monday</h2>
                <div class="columns is-mobile">
                    <div class="column is-one-quarter"><strong>Start</strong></div>
                    <div class="column"><strong>From</strong></div>
                    <div class="column"><strong>To</strong></div>
                </div>
                <hr />
                <div th:if="${not #lists.isEmpty(monday)}" th:each="tour : ${monday}">
                    <div class="tour-container" th:field="${tour}">
                        <div class="tour-item">
                            <div class="columns is-mobile">
                                <div class="column is-one-quarter">
                                    <span type="time" th:text="${tour.deliveryStartTime}">Time</span>
                                </div>
                                <div class="column">
                                    <span th:text="${tour.startAddress}">Address </span>
                                    <span th:text="${tour.startAddressNumber}">Number </span><span>,</span>
                                    <span th:text="${tour.startZip}">ZIP </span>
                                    <span th:text="${tour.startCity}">City </span>
                                </div>
                                <div class="column">
                                    <span th:text="${tour.destinationAddress}">Address </span>
                                    <span th:text="${tour.destinationAddressNumber}">Number </span><span>,</span>
                                    <span th:text="${tour.destinationZip}">ZIP </span>
                                    <span th:text="${tour.destinationCity}">City </span>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter">
                                        <strong>Species: </strong><span th:text="${tour.cargo}" />
                                    </div>
                                    <div class="column">
                                        <strong>Amount: </strong><span type="text" th:text="${tour.numberOfAnimals}"/>
                                    </div>
                                    <div class="column">
                                        <strong>Time Frame: </strong><span type="text" th:text="${tour.timeFrame}">--:-- to --:--</span>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter"></div>
                                    <div class="column">
                                        <strong>Estimated Time: </strong><span th:text="${tour.estimatedTime}">--</span>h
                                    </div>
                                    <div class="column">
                                        <strong>Contact Person: </strong><span type="text" th:text="${tour.contactPerson}">Person</span>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column">
                                        <blockquote type="text" th:text="${tour.comment}">Comment</blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="weekday-container">
                <h2 class="weekday">Tuesday</h2>
                <div class="columns is-mobile">
                    <div class="column is-one-quarter"><strong>Start</strong></div>
                    <div class="column"><strong>From</strong></div>
                    <div class="column"><strong>To</strong></div>
                </div>
                <hr />
                <div th:if="${not #lists.isEmpty(tuesday)}" th:each="tour : ${tuesday}">
                    <div class="tour-container" th:field="${tour}">
                        <div class="tour-item">
                            <div class="columns is-mobile">
                                <div class="column is-one-quarter">
                                    <span type="time" th:text="${tour.deliveryStartTime}">Time</span>
                                </div>
                                <div class="column">
                                    <span th:text="${tour.startAddress}">Address </span>
                                    <span th:text="${tour.startAddressNumber}">Number </span><span>,</span>
                                    <span th:text="${tour.startZip}">ZIP </span>
                                    <span th:text="${tour.startCity}">City </span>
                                </div>
                                <div class="column">
                                    <span th:text="${tour.destinationAddress}">Address </span>
                                    <span th:text="${tour.destinationAddressNumber}">Number </span><span>,</span>
                                    <span th:text="${tour.destinationZip}">ZIP </span>
                                    <span th:text="${tour.destinationCity}">City </span>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter">
                                        <strong>Species: </strong><span th:text="${tour.cargo}" />
                                    </div>
                                    <div class="column">
                                        <strong>Amount: </strong><span type="text" th:text="${tour.numberOfAnimals}"/>
                                    </div>
                                    <div class="column">
                                        <strong>Time Frame: </strong><span type="text" th:text="${tour.timeFrame}">--:-- to --:--</span>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter"></div>
                                    <div class="column">
                                        <strong>Estimated Time: </strong><span th:text="${tour.estimatedTime}">--</span>h
                                    </div>
                                    <div class="column">
                                        <strong>Contact Person: </strong><span type="text" th:text="${tour.contactPerson}">Person</span>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column">
                                        <blockquote type="text" th:text="${tour.comment}">Comment</blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="weekday-container">
                <h2 class="weekday">Wednesday</h2>
                <div class="weekday-panel">
                    <div class="columns is-mobile">
                        <div class="column is-one-quarter"><strong>Start</strong></div>
                        <div class="column"><strong>From</strong></div>
                        <div class="column"><strong>To</strong></div>
                    </div>
                    <hr />
                    <div th:if="${not #lists.isEmpty(wednesday)}" th:each="tour : ${wednesday}">
                        <div class="tour-container" th:field="${tour}">
                            <div class="tour-item">
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter">
                                        <span type="time" th:text="${tour.deliveryStartTime}">Time</span>
                                    </div>
                                    <div class="column">
                                        <span th:text="${tour.startAddress}">Address </span>
                                        <span th:text="${tour.startAddressNumber}">Number </span><span>,</span>
                                        <span th:text="${tour.startZip}">ZIP </span>
                                        <span th:text="${tour.startCity}">City </span>
                                    </div>
                                    <div class="column">
                                        <span th:text="${tour.destinationAddress}">Address </span>
                                        <span th:text="${tour.destinationAddressNumber}">Number </span><span>,</span>
                                        <span th:text="${tour.destinationZip}">ZIP </span>
                                        <span th:text="${tour.destinationCity}">City </span>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="columns is-mobile">
                                        <div class="column is-one-quarter">
                                            <strong>Species: </strong><span th:text="${tour.cargo}" />
                                        </div>
                                        <div class="column">
                                            <strong>Amount: </strong><span type="text" th:text="${tour.numberOfAnimals}"/>
                                        </div>
                                        <div class="column">
                                            <strong>Time Frame: </strong><span type="text" th:text="${tour.timeFrame}">--:-- to --:--</span>
                                        </div>
                                    </div>
                                    <div class="columns is-mobile">
                                        <div class="column is-one-quarter"></div>
                                        <div class="column">
                                            <strong>Estimated Time: </strong><span th:text="${tour.estimatedTime}">--</span>h
                                        </div>
                                        <div class="column">
                                            <strong>Contact Person: </strong><span type="text" th:text="${tour.contactPerson}">Person</span>
                                        </div>
                                    </div>
                                    <div class="columns is-mobile">
                                        <div class="colu    mn">
                                            <blockquote type="text" th:text="${tour.comment}">Comment</blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="weekday-container">
                <h2 class="weekday">Thursday</h2>
                <div class="columns is-mobile">
                    <div class="column is-one-quarter"><strong>Start</strong></div>
                    <div class="column"><strong>From</strong></div>
                    <div class="column"><strong>To</strong></div>
                </div>
                <hr />
                <div th:if="${not #lists.isEmpty(thursday)}" th:each="tour : ${thursday}">
                    <div class="tour-container" th:field="${tour}">
                        <div class="tour-item">
                            <div class="columns is-mobile">
                                <div class="column is-one-quarter">
                                    <span type="time" th:text="${tour.deliveryStartTime}">Time</span>
                                </div>
                                <div class="column">
                                    <span th:text="${tour.startAddress}">Address </span>
                                    <span th:text="${tour.startAddressNumber}">Number </span><span>,</span>
                                    <span th:text="${tour.startZip}">ZIP </span>
                                    <span th:text="${tour.startCity}">City </span>
                                </div>
                                <div class="column">
                                    <span th:text="${tour.destinationAddress}">Address </span>
                                    <span th:text="${tour.destinationAddressNumber}">Number </span><span>,</span>
                                    <span th:text="${tour.destinationZip}">ZIP </span>
                                    <span th:text="${tour.destinationCity}">City </span>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter">
                                        <strong>Species: </strong><span th:text="${tour.cargo}" />
                                    </div>
                                    <div class="column">
                                        <strong>Amount: </strong><span type="text" th:text="${tour.numberOfAnimals}"/>
                                    </div>
                                    <div class="column">
                                        <strong>Time Frame: </strong><span type="text" th:text="${tour.timeFrame}">--:-- to --:--</span>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter"></div>
                                    <div class="column">
                                        <strong>Estimated Time: </strong><span th:text="${tour.estimatedTime}">--</span>h
                                    </div>
                                    <div class="column">
                                        <strong>Contact Person: </strong><span type="text" th:text="${tour.contactPerson}">Person</span>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column">
                                        <blockquote type="text" th:text="${tour.comment}">Comment</blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="weekday-container">
                <h2 class="weekday">Friday</h2>
                <div class="columns is-mobile">
                    <div class="column is-one-quarter"><strong>Start</strong></div>
                    <div class="column"><strong>From</strong></div>
                    <div class="column"><strong>To</strong></div>
                </div>
                <hr />
                <div th:if="${not #lists.isEmpty(friday)}" th:each="tour : ${friday}">
                    <div class="tour-container" th:field="${tour}">
                        <div class="tour-item">
                            <div class="columns is-mobile">
                                <div class="column is-one-quarter">
                                    <span type="time" th:text="${tour.deliveryStartTime}">Time</span>
                                </div>
                                <div class="column">
                                    <span th:text="${tour.startAddress}">Address </span>
                                    <span th:text="${tour.startAddressNumber}">Number </span><span>,</span>
                                    <span th:text="${tour.startZip}">ZIP </span>
                                    <span th:text="${tour.startCity}">City </span>
                                </div>
                                <div class="column">
                                    <span th:text="${tour.destinationAddress}">Address </span>
                                    <span th:text="${tour.destinationAddressNumber}">Number </span><span>,</span>
                                    <span th:text="${tour.destinationZip}">ZIP </span>
                                    <span th:text="${tour.destinationCity}">City </span>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter">
                                        <strong>Species: </strong><span th:text="${tour.cargo}" />
                                    </div>
                                    <div class="column">
                                        <strong>Amount: </strong><span type="text" th:text="${tour.numberOfAnimals}"/>
                                    </div>
                                    <div class="column">
                                        <strong>Time Frame: </strong><span type="text" th:text="${tour.timeFrame}">--:-- to --:--</span>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter"></div>
                                    <div class="column">
                                        <strong>Estimated Time: </strong><span th:text="${tour.estimatedTime}">--</span>h
                                    </div>
                                    <div class="column">
                                        <strong>Contact Person: </strong><span type="text" th:text="${tour.contactPerson}">Person</span>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column">
                                        <blockquote type="text" th:text="${tour.comment}">Comment</blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="weekday-container">
                <h2 class="weekday">Saturday</h2>
                <div class="columns is-mobile">
                    <div class="column is-one-quarter"><strong>Start</strong></div>
                    <div class="column"><strong>From</strong></div>
                    <div class="column"><strong>To</strong></div>
                </div>
                <hr />
                <div th:if="${not #lists.isEmpty(saturday)}" th:each="tour : ${saturday}">
                    <div class="tour-container" th:field="${tour}">
                        <div class="tour-item">
                            <div class="columns is-mobile">
                                <div class="column is-one-quarter">
                                    <span type="time" th:text="${tour.deliveryStartTime}">Time</span>
                                </div>
                                <div class="column">
                                    <span th:text="${tour.startAddress}">Address </span>
                                    <span th:text="${tour.startAddressNumber}">Number </span><span>,</span>
                                    <span th:text="${tour.startZip}">ZIP </span>
                                    <span th:text="${tour.startCity}">City </span>
                                </div>
                                <div class="column">
                                    <span th:text="${tour.destinationAddress}">Address </span>
                                    <span th:text="${tour.destinationAddressNumber}">Number </span><span>,</span>
                                    <span th:text="${tour.destinationZip}">ZIP </span>
                                    <span th:text="${tour.destinationCity}">City </span>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter">
                                        <strong>Species: </strong><span th:text="${tour.cargo}" />
                                    </div>
                                    <div class="column">
                                        <strong>Amount: </strong><span type="text" th:text="${tour.numberOfAnimals}"/>
                                    </div>
                                    <div class="column">
                                        <strong>Time Frame: </strong><span type="text" th:text="${tour.timeFrame}">--:-- to --:--</span>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter"></div>
                                    <div class="column">
                                        <strong>Estimated Time: </strong><span th:text="${tour.estimatedTime}">--</span>h
                                    </div>
                                    <div class="column">
                                        <strong>Contact Person: </strong><span type="text" th:text="${tour.contactPerson}">Person</span>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column">
                                        <blockquote type="text" th:text="${tour.comment}">Comment</blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="weekday-container">
                <h2 class="weekday">Sunday</h2>
                <div class="columns is-mobile">
                    <div class="column is-one-quarter"><strong>Start</strong></div>
                    <div class="column"><strong>From</strong></div>
                    <div class="column"><strong>To</strong></div>
                </div>
                <hr />
                <div th:if="${not #lists.isEmpty(sunday)}" th:each="tour : ${sunday}">
                    <div class="tour-container" th:field="${tour}">
                        <div class="tour-item">
                            <div class="columns is-mobile">
                                <div class="column is-one-quarter">
                                    <span type="time" th:text="${tour.deliveryStartTime}">Time</span>
                                </div>
                                <div class="column">
                                    <span th:text="${tour.startAddress}">Address </span>
                                    <span th:text="${tour.startAddressNumber}">Number </span><span>,</span>
                                    <span th:text="${tour.startZip}">ZIP </span>
                                    <span th:text="${tour.startCity}">City </span>
                                </div>
                                <div class="column">
                                    <span th:text="${tour.destinationAddress}">Address </span>
                                    <span th:text="${tour.destinationAddressNumber}">Number </span><span>,</span>
                                    <span th:text="${tour.destinationZip}">ZIP </span>
                                    <span th:text="${tour.destinationCity}">City </span>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter">
                                        <strong>Species: </strong><span th:text="${tour.cargo}" />
                                    </div>
                                    <div class="column">
                                        <strong>Amount: </strong><span type="text" th:text="${tour.numberOfAnimals}"/>
                                    </div>
                                    <div class="column">
                                        <strong>Time Frame: </strong><span type="text" th:text="${tour.timeFrame}">--:-- to --:--</span>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column is-one-quarter"></div>
                                    <div class="column">
                                        <strong>Estimated Time: </strong><span th:text="${tour.estimatedTime}">--</span>h
                                    </div>
                                    <div class="column">
                                        <strong>Contact Person: </strong><span type="text" th:text="${tour.contactPerson}">Person</span>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column">
                                        <blockquote type="text" th:text="${tour.comment}">Comment</blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {

        $(".panel").hide();

        $(".tour-item").click(function() {
            $(this).toggleClass("selected");
            $(this).find(".panel").slideToggle("slow");
        });

//        $(".weekday-container").click(function() {
//            $(this).find(".weekday-panel").slideToggle("slow");
//        });
    });
</script>
</body>

</html>